
Movie Theater System/obj/Debug/netcoreapp3.1/Movie Theater System.AssemblyInfo.cs
Movie Theater System/obj/Debug/netcoreapp3.1/Movie Theater System.AssemblyInfoInputs.cache
Movie Theater System/obj/Debug/netcoreapp3.1/Movie Theater System.assets.cache
Movie Theater System/obj/Debug/netcoreapp3.1/Movie Theater System.GeneratedMSBuildEditorConfig.editorconfig
Movie Theater System/obj/Movie Theater System.csproj.nuget.dgspec.json
Movie Theater System/obj/Movie Theater System.csproj.nuget.g.props
Movie Theater System/obj/project.assets.json
Movie Theater System/obj/project.nuget.cache
.vs/307 Project/v16/.suo
